@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center bg-transparent text-light">
    <h1 class="display-4">Welcome to COORDS</h1>

<div class="slideshow-container">

<div class="SlidesFade fade">
  <img src="@Url.Content("~/Project_Images/Ark-Logo.jpg")"/>
</div> 

<div class="SlidesFade fade">
  <img src="@Url.Content("~/Project_Images/Minecraft.jpg")">
</div>

<div class="SlidesFade fade">
  <img src="@Url.Content("~/Project_Images/Rust-Symbol.jpg")">
</div>

<div class="SlidesFade fade">
  <img src="@Url.Content("~/Project_Images/Valheim_logo.jpg")">
</div>

</div>
<br>

</div>
