@model WebApplication1.Models.Coordinate

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Coordinate</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Description" class="control-label text-light"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="XValue" class="control-label text-light"></label>
                <input asp-for="XValue" class="form-control" />
                <span asp-validation-for="XValue" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="YValue" class="control-label text-light"></label>
                <input asp-for="YValue" class="form-control" />
                <span asp-validation-for="YValue" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ZValue" class="control-label text-light"></label>
                <input asp-for="ZValue" class="form-control" />
                <span asp-validation-for="ZValue" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
